# Tesla Stock Price Prediction with Prophet

## Importing and Initializing  Libraries

In [7]:
import pandas  as pd
import numpy as np
import plotly.express as px
import plotly.io as pio
import matplotlib.pyplot as plt
import prophet

## Importing the Dataset

In [10]:
df = pd.read_csv('TESLA_stock.csv')

In [12]:
df.()

,Date,Open,High,Low,Close,Adj Close,Volume
310,2024-03-28,177.449997,179.570007,175.300003,175.789993,175.789993,77654800
311,2024-04-01,176.169998,176.750000,170.210007,175.220001,175.220001,81562100
312,2024-04-02,164.750000,167.690002,163.429993,166.630005,166.630005,116650600
313,2024-04-03,164.020004,168.820007,163.279999,168.380005,168.380005,82578000
314,2024-04-04,170.000000,177.190002,168.009995,171.110001,171.110001,121875403